<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{% asset 6monthmutualaid.jpg @path %}" />

  <!-- emoji favicon via https://css-tricks.com/emojis-as-favicons/ -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.emoji_favicon }}</text></svg>">
  <link rel="manifest" href="{% asset site.webmanifest.liquid @path %}">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900&display=swap" rel="stylesheet">
  {% asset normalize.css @inline %}
  {% asset main.css @inline %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header class="page-header">
    <h1 class="page-title"><a href="/">{{ site.title }}</a></h1>
    <nav class="page-nav">
      {% for navbar-page in site.navbar %}
        {% if forloop.first == false %}
        <span class="page-nav-divider" role="presentation">·</span>
        {% endif %}
        <a
          class="page-nav-link"
          href="{{ navbar-page.url }}"
        >
          {{ navbar-page.name }}
        </a>
      {% endfor %}
    </nav>
  </header>
  <main class="page-content">
    {{ content }}
  </main>
  {% if site.google-analytics-id %}
  <script>
window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', '{{ site.google-analytics-id }}', 'auto');
ga('set','transport','beacon'); ga('send', 'pageview')
</script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  {% endif %}
</body>
</html>
